<!DOCTYPE html>
<html>
<head>
    <title>Borrows Per School</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <a href="{{ url_for('process_login') }}" class="link-back">Back</a>
    {% if borrows %}
    <h2>Borrows Per School</h2>
    
    <table>
        <thead>
            <tr>
                <th>School</th>
                <th>Number Of Borrows</th>
            </tr>
        </thead>
        <tbody>
            {% for borrow in borrows %}
            <tr>
                <td>{{ borrow[0]}}</td>
                <td>{{ borrow[1]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No borrows found.</p>
    {% endif %}
</body>
</html>
