<!DOCTYPE html>
<html lang="en">
<head>
    <title>Change Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="change-data-form">
        <h2>Change Personal Data</h2>
        <form action="/teacher_change_data" method="post">
            <label for="new_username">New Username:</label>
            <input type="text" id="new_username" name="new_username" placeholder="Enter your new username" required>

            <label for="new_date_of_birth">New Date Of Birth:</label>
            <input type="date" id="new_date_of_birth" name="new_date_of_birth" placeholder="Enter your new date of birth" >

            <label for="new_first_name">New First Name:</label>
            <input type="text" id="new_first_name" name="new_first_name" placeholder="Enter your new first name" required>
            
            <label for="new_last_name">New First Name:</label>
            <input type="text" id="new_last_name" name="new_last_name" placeholder="Enter your new last name" required>

            <label for="username">Old Username:</label>
            <input type="text" id="username" name="username" placeholder="Enter your old username" required>

            <button type="submit" class="btnn">Sumbit</button>
        </form>
    </div>
</body>
</html>