<!DOCTYPE html>
<html lang="en">
<head>
    <title>Change Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="change-password-form">
        <h2>Change Password</h2>
        <form action="/student_change_password" method="post">
            <label for="new_password">New Password:</label>
            <input type="password" id="new_password" name="new_password" placeholder="Enter your new password" required>

            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="Enter your username" required>
            
            <button type="submit" class="btnn">Change Password</button>
        </form>
    </div>
</body>
</html>
