<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Reservations</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% if reservations %}
        <h2>My Reservations </h2> 
        <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>ISBN</th>
                <th>Date of Reservation</th>
            </tr>
        </thead>
        <tbody>
            {% for reservation in reservations %}
                <tr>
                    <td>{{ reservation[1] }}</td>
                    <td>{{ reservation[0] }}</td>
                    <td>{{ reservation[2] }}</td>
                </tr>
                <td>
                    <form action="/delete_my_reservation/{{reservation[0]}}" method="POST">
                        <input type="hidden" name="action" value="delete">
                        <button type="submit">Delete Reservation</button>
                    </form>
                </td>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No reservations found.</p>
{% endif %}
<a href="/process_login">Back</a>
</body>
</html>