<!DOCTYPE html>
<html>
<head>
    <title>Reservartion Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Reservation Details</h2>
    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>ISBN</th>
                <th>Date of Reservation</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Role</th>
                <th>Able to Reserve</th>
                <th>Number Of Reservations</th>
                <th>Avaliable Copies Of Book</th>
                <th>Delayed Borrows</th>
            </tr>
        </thead>
        <tbody>
            {% for reservation in reservations %}
            <tr>
                <td>{{ reservation[0] }}</td>
                <td>{{ reservation[1] }}</td>
                <td>{{ reservation[2] }}</td>
                <td>{{ reservation[3] }}</td>
                <td>{{ reservation[4] }}</td>
                <td>{{ reservation[5] }}</td>
                <td>{{ reservation[6] }}</td>
                <td>{{ reservation[7] }}</td>
                <td>{{ reservation[8] }}</td>
                <td>{{ reservation[9] }}</td>
            </tr>
            <td>
                {% if reservation[2] is none %}
                <form action="/approved_r/{{ reservation[1] }}/{{ reservation[5] }}/{{ reservation[0]}}" method="POST">
                    <input type="hidden" name="action" value="approve">
                    <button type="submit">Approve</button>
                </form>
                {% endif %}
            </td>
            <td>
                {% if reservation[2] is none %}
                <form action="/rejected_r/{{ reservation[1] }}/{{ reservation[5] }}/{{ reservation[0]}}" method="POST">
                    <input type="hidden" name="action" value="reject">
                    <button type="submit">Reject</button>
                </form>
                {% endif %}
            </td>
            <td>
                {% if reservation[2] is none %}
                <form action="/waiting_r/{{ reservation[1] }}/{{ reservation[5] }}/{{ reservation[0]}}" method="POST">
                    <input type="hidden" name="action" value="waiting">
                    <button type="submit">Waiting</button>
                </form>
                {% endif %}
            </td>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>