<!DOCTYPE html>
<html lang="en">
<head>
    <title>Teacher's Account</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="main_account">
        <div class="navbar_account">
        <div class="icon">
            <h2 class="logo">biblioTECH</h2>
            <a href="{{ url_for('index') }}" class="link-back">Back</a>
        </div>

            <div class="menu">
                <ul>
                    <li><a href="/my_reservations">Reservations</a></li>
                    <li><a href="/my_borrows">Borrows</a></li>
                    <li><a href="#">Library</a></li>
                    <li><a href="/teacher">My Account</a></li>
                </ul>
            </div>
            
        

            
            <div class="search-container">
                <p class="search-text">Enter the details below to search for books :</p>
        
                <form action="/search_books" method="post" class="search-form">
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" placeholder="Enter title" >

                <label for="author">Author:</label>
                <input type="text" id="author" name="author" placeholder="Enter author" >
            
                <label for="category">Category:</label>
                <input type="text" id="category" name="category" placeholder="Enter category" >
            
                <button type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>